
.root .pn-msg-input__wrapper.pn-msg-input__wrapper {border-radius: 6px;}

.chat_container {
    font-family: Comic Sans MS !important;
}

.root .p-2 {
  padding: 0;
}
.root .bg-white {
  background-color: transparent;
}

.root .max-h-\[43vh\] {
  max-height: 0vh;
}


.root .w-\[30\%\] {
  width: 10%;
  color: transparent;
}






