
.root .pn-msg-input__wrapper.pn-msg-input__wrapper {border-radius: 6px;}

.root .w-\[43\%\] {
    width: 72% !important;
}
.root .h-\[43\%\] {
    height: 72% !important;

.gYwLAn {
    background-color: #000000;
    width: 60px;
    height: 60px;
}
